@charset "UTF-8";
.table--primary {
  width: 99.5% !important;
  border-spacing: 0;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
}
.table--primary a, .table--primary button {
  box-shadow: none !important;
  transform: none !important;
  border-radius: 0.5rem;
}
.table--primary select {
  font-size: 1.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  border: none;
  border-bottom: 0.3rem solid var(--sys-primary);
  box-shadow: var(--elevation-1);
  background-color: var(--sys-container-high);
  color: var(--sys-on-container);
  height: 4rem;
}
.table--primary select option {
  font-size: 2rem;
  border-radius: 1rem;
}
.table--primary select:focus {
  box-shadow: var(--elevation-2);
}
.table--primary select:hover {
  cursor: pointer;
  box-shadow: var(--elevation-3);
}
.table--primary th {
  text-align: inherit;
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-primary);
  border-right: 0.125rem solid var(--sys-on-primary);
}
.table--primary th:last-of-type {
  border-right: none;
}
.table--primary th.left {
  text-align: left;
}
.table--primary th.center {
  text-align: center;
}
.table--primary th.right {
  text-align: right;
}
.table--primary tbody tr {
  background-color: var(--sys-container);
}
.table--primary tbody tr:nth-child(even) {
  background-color: var(--sys-container-lower);
}
.table--primary tbody tr td {
  color: var(--sys-on-container);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-container);
  border-right: 0.125rem solid var(--sys-on-container);
}
.table--primary tbody tr td:last-of-type {
  border-right: none;
}
.table--primary tbody tr:last-of-type td {
  border-bottom: none;
}

.table--secondary {
  width: 99.5% !important;
  border-spacing: 0;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
}
.table--secondary a, .table--secondary button {
  box-shadow: none !important;
  transform: none !important;
  border-radius: 0.5rem;
}
.table--secondary select {
  font-size: 1.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  border: none;
  border-bottom: 0.3rem solid var(--sys-primary);
  box-shadow: var(--elevation-1);
  background-color: var(--sys-container-high);
  color: var(--sys-on-container);
  height: 4rem;
}
.table--secondary select option {
  font-size: 2rem;
  border-radius: 1rem;
}
.table--secondary select:focus {
  box-shadow: var(--elevation-2);
}
.table--secondary select:hover {
  cursor: pointer;
  box-shadow: var(--elevation-3);
}
.table--secondary th {
  text-align: inherit;
  background-color: var(--sys-secondary);
  color: var(--sys-on-secondary);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-secondary);
  border-right: 0.125rem solid var(--sys-on-secondary);
}
.table--secondary th:last-of-type {
  border-right: none;
}
.table--secondary th.left {
  text-align: left;
}
.table--secondary th.center {
  text-align: center;
}
.table--secondary th.right {
  text-align: right;
}
.table--secondary tbody tr {
  background-color: var(--sys-container);
}
.table--secondary tbody tr:nth-child(even) {
  background-color: var(--sys-container-lower);
}
.table--secondary tbody tr td {
  color: var(--sys-on-container);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-container);
  border-right: 0.125rem solid var(--sys-on-container);
}
.table--secondary tbody tr td:last-of-type {
  border-right: none;
}
.table--secondary tbody tr:last-of-type td {
  border-bottom: none;
}

.table--tertiary {
  width: 99.5% !important;
  border-spacing: 0;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
}
.table--tertiary a, .table--tertiary button {
  box-shadow: none !important;
  transform: none !important;
  border-radius: 0.5rem;
}
.table--tertiary select {
  font-size: 1.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  border: none;
  border-bottom: 0.3rem solid var(--sys-primary);
  box-shadow: var(--elevation-1);
  background-color: var(--sys-container-high);
  color: var(--sys-on-container);
  height: 4rem;
}
.table--tertiary select option {
  font-size: 2rem;
  border-radius: 1rem;
}
.table--tertiary select:focus {
  box-shadow: var(--elevation-2);
}
.table--tertiary select:hover {
  cursor: pointer;
  box-shadow: var(--elevation-3);
}
.table--tertiary th {
  text-align: inherit;
  background-color: var(--sys-tertiary);
  color: var(--sys-on-tertiary);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-tertiary);
  border-right: 0.125rem solid var(--sys-on-tertiary);
}
.table--tertiary th:last-of-type {
  border-right: none;
}
.table--tertiary th.left {
  text-align: left;
}
.table--tertiary th.center {
  text-align: center;
}
.table--tertiary th.right {
  text-align: right;
}
.table--tertiary tbody tr {
  background-color: var(--sys-container);
}
.table--tertiary tbody tr:nth-child(even) {
  background-color: var(--sys-container-lower);
}
.table--tertiary tbody tr td {
  color: var(--sys-on-container);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--sys-on-container);
  border-right: 0.125rem solid var(--sys-on-container);
}
.table--tertiary tbody tr td:last-of-type {
  border-right: none;
}
.table--tertiary tbody tr:last-of-type td {
  border-bottom: none;
}

.bg--primary {
  background-color: var(--sys-primary) !important;
  color: var(--sys-on-primary) !important;
}

.bg--secondary {
  background-color: var(--sys-secondary) !important;
  color: var(--sys-on-secondary) !important;
}

.bg--tertiary {
  background-color: var(--sys-tertiary) !important;
  color: var(--sys-on-tertiary) !important;
}

.bg--red {
  background-color: var(--sys-red) !important;
  color: var(--sys-on-red) !important;
}

.bg--orange {
  background-color: var(--sys-orange) !important;
  color: var(--sys-on-orange) !important;
}

.bg--green {
  background-color: var(--sys-green) !important;
  color: var(--sys-on-green) !important;
}

.bg--primary-container {
  background-color: var(--sys-primary-container) !important;
  color: var(--sys-on-primary-container) !important;
}

.bg--secondary-container {
  background-color: var(--sys-secondary-container) !important;
  color: var(--sys-on-secondary-container) !important;
}

.bg--tertiary-container {
  background-color: var(--sys-tertiary-container) !important;
  color: var(--sys-on-tertiary-container) !important;
}

.bg--red-container {
  background-color: var(--sys-red-container) !important;
  color: var(--sys-on-red-container) !important;
}

.bg--orange-container {
  background-color: var(--sys-orange-container) !important;
  color: var(--sys-on-orange-container) !important;
}

.bg--green-container {
  background-color: var(--sys-green-container) !important;
  color: var(--sys-on-green-container) !important;
}

/* Controlar ESTILOS 2018 en versión NO ACCES de AUREA2023 */
header {
  background: none;
  border: none;
  height: auto;
}

main .areatitulo h3 {
  font-size: 3rem;
}

footer {
  background: none;
}
footer p {
  font-size: 2rem;
  margin-bottom: 0;
}

#menu-options {
  height: calc(100% - 10rem) !important;
}

#menu-options .navbar__options .options__item .option-drop {
  height: calc(100% - 16rem) !important;
}

#menu-help {
  height: 10rem !important;
}

#menu-help .navbar__options .options__item:first-child {
  display: none;
}

/* ///////////////////////////////////////////// */
.modal .modal-content {
  border-radius: 1rem;
}
.modal .modal-content .modal-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.modal .modal-content .modal-header .modal-title {
  font-size: 2.5rem;
}
.modal .modal-content .modal-header .close {
  font-size: 3rem;
}
.modal .modal-content .modal-body {
  font-size: 2rem;
}

.alarma {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 0 0 0 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  color: var(--sys-on-red);
  background: var(--sys-red);
  border: 0;
}

.alarma_azul {
  background: var(--sys-primary);
  border: 0;
  bottom: 0;
  right: 0;
  color: var(--sys-on-primary);
  margin: 0 0 0 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.alarma_azul div {
  padding: 0 0;
}

.alarma_roja {
  background: var(--sys-red);
  border: 0;
  bottom: 0;
  right: 0;
  color: var(--sys-on-red);
  margin: 0 0 0 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.alarma_roja div {
  padding: 0 0;
}

.alarma_transparente {
  background: transparent;
  border: 0;
  bottom: 0;
  right: 0;
  color: var(--sys-red);
  margin: 0 0 0 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.alarma_transparente div {
  padding: 0 0;
}

.alarma_verde {
  background: var(--sys-green);
  border: 0;
  bottom: 0;
  right: 0;
  color: var(--sys-on-green);
  margin: 0 0 0 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.alarma_verde div {
  padding: 0 0;
}

/* Mobile */
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav ~ main .alarma, nav ~ main .alarma_azul, nav ~ main .alarma_roja, nav ~ main .alarma_transparente, nav ~ main .alarma_verde {
    width: calc(100% - 6rem);
  }
  nav.anchor ~ main .alarma, nav.anchor ~ main .alarma_azul, nav.anchor ~ main .alarma_roja, nav.anchor ~ main .alarma_transparente, nav.anchor ~ main .alarma_verde {
    width: calc(100% - 23rem);
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) {
  nav ~ main .alarma, nav ~ main .alarma_azul, nav ~ main .alarma_roja, nav ~ main .alarma_transparente, nav ~ main .alarma_verde {
    width: calc(100% - 6rem);
  }
  nav.anchor ~ main .alarma, nav.anchor ~ main .alarma_azul, nav.anchor ~ main .alarma_roja, nav.anchor ~ main .alarma_transparente, nav.anchor ~ main .alarma_verde {
    width: calc(100% - 23rem);
  }
}
:root {
  --font-size: 1;
  --ref-primary-0: #0a0a0a;
  --ref-primary-5: #003451;
  --ref-primary-10: #005883;
  --ref-primary-20: #006494;
  --ref-primary-30: #0076b4;
  --ref-primary-40: #0095df;
  --ref-primary-50: #00b9ff;
  --ref-primary-60: #20cfff;
  --ref-primary-70: #6ddfff;
  --ref-primary-80: #b2ecff;
  --ref-primary-90: #dcf4ff;
  --ref-primary-95: #eefaff;
  --ref-primary-100: #fafafa;
  --ref-secondary-0: #0a0a0a;
  --ref-secondary-5: #1c2930;
  --ref-secondary-10: #2f404a;
  --ref-secondary-20: #344b56;
  --ref-secondary-30: #385765;
  --ref-secondary-40: #3f697b;
  --ref-secondary-50: #497f91;
  --ref-secondary-60: #649bac;
  --ref-secondary-70: #97bfc9;
  --ref-secondary-80: #c1dae0;
  --ref-secondary-90: #deebef;
  --ref-secondary-95: #f2f7f9;
  --ref-secondary-100: #fafafa;
  --ref-tertiary-0: #0a0a0a;
  --ref-tertiary-5: #3f1b09;
  --ref-tertiary-10: #6d3616;
  --ref-tertiary-20: #7f4214;
  --ref-tertiary-30: #9a530e;
  --ref-tertiary-40: #c1750d;
  --ref-tertiary-50: #df9913;
  --ref-tertiary-60: #f0b429;
  --ref-tertiary-70: #f5c94f;
  --ref-tertiary-80: #f9e18f;
  --ref-tertiary-90: #fbf2c6;
  --ref-tertiary-95: #fdf9e9;
  --ref-tertiary-100: #fafafa;
  --ref-orange-0: #0a0a0a;
  --ref-orange-5: #421608;
  --ref-orange-10: #7a2f14;
  --ref-orange-20: #973715;
  --ref-orange-30: #be4510;
  --ref-orange-40: #e55c11;
  --ref-orange-50: #f47920;
  --ref-orange-60: #f79440;
  --ref-orange-70: #fabb77;
  --ref-orange-80: #fcd8ac;
  --ref-orange-90: #feedd6;
  --ref-orange-95: #fff7ed;
  --ref-orange-100: #fafafa;
  --ref-green-0: #0a0a0a;
  --ref-green-5: #00371a;
  --ref-green-10: #066135;
  --ref-green-20: #04733b;
  --ref-green-30: #009849;
  --ref-green-40: #00c359;
  --ref-green-50: #00ea6f;
  --ref-green-60: #29ff90;
  --ref-green-70: #6effb6;
  --ref-green-80: #adffd5;
  --ref-green-90: #d5ffea;
  --ref-green-95: #edfff5;
  --ref-green-100: #fafafa;
  --ref-red-0: #000000;
  --ref-red-5: #4f0000;
  --ref-red-10: #900c0c;
  --ref-red-20: #af0505;
  --ref-red-30: #d40101;
  --ref-red-40: #fc0606;
  --ref-red-50: #ff2626;
  --ref-red-60: #ff5959;
  --ref-red-70: #ff9696;
  --ref-red-80: #ffc1c1;
  --ref-red-90: #ffdddd;
  --ref-red-95: #fff0f0;
  --ref-red-100: #FFFFFF;
  --ref-neutral-0: #0A0A0A;
  --ref-neutral-2: #121212;
  --ref-neutral-4: #1B1B1B;
  --ref-neutral-6: #242424;
  --ref-neutral-8: #2E2E2E;
  --ref-neutral-10: #323232;
  --ref-neutral-12: #3B3B3B;
  --ref-neutral-20: #494949;
  --ref-neutral-30: #5B5B5B;
  --ref-neutral-40: #6D6D6D;
  --ref-neutral-50: #7F7F7F;
  --ref-neutral-60: #929292;
  --ref-neutral-70: #A4A4A4;
  --ref-neutral-80: #B6B6B6;
  --ref-neutral-88: #CECECE;
  --ref-neutral-90: #DFDFDF;
  --ref-neutral-92: #E5E5E5;
  --ref-neutral-94: #EBEBEB;
  --ref-neutral-96: #F0F0F0;
  --ref-neutral-98: #F6F6F6;
  --ref-neutral-100: #FAFAFA;
}

:root, body.light-theme {
  --banner-left: url(../../ulib/img/banner-light-left.png);
  --banner-center: url(../../ulib/img/banner-light-center.png);
  --banner-right: url(../../ulib/img/banner-light-right.png);
  --logo-unad: url(../../ulib/img/logo-unad-light.png);
  --sys-primary: var(--ref-primary-10);
  --sys-on-primary: var(--ref-primary-100);
  --sys-primary-container: var(--ref-primary-95);
  --sys-on-primary-container: var(--ref-primary-5);
  --sys-primary-fixed: var(--ref-primary-10);
  --sys-on-primary-fixed: var(--ref-primary-100);
  --sys-secondary: var(--ref-secondary-30);
  --sys-on-secondary: var(--ref-secondary-100);
  --sys-secondary-container: var(--ref-secondary-90);
  --sys-on-secondary-container: var(--ref-secondary-0);
  --sys-secondary-fixed: var(--ref-secondary-40);
  --sys-on-secondary-fixed: var(--ref-secondary-100);
  --sys-tertiary: var(--ref-tertiary-60);
  --sys-on-tertiary: var(--ref-tertiary-0);
  --sys-tertiary-container: var(--ref-tertiary-95);
  --sys-on-tertiary-container: var(--ref-tertiary-5);
  --sys-tertiary-fixed: var(--ref-tertiary-60);
  --sys-on-tertiary-fixed: var(--ref-tertiary-0);
  --sys-orange: var(--ref-orange-50);
  --sys-on-orange: var(--ref-orange-0);
  --sys-orange-container: var(--ref-orange-95);
  --sys-on-orange-container: var(--ref-orange-5);
  --sys-orange-fixed: var(--ref-orange-50);
  --sys-on-orange-fixed: var(--ref-orange-0);
  --sys-green: var(--ref-green-10);
  --sys-on-green: var(--ref-green-100);
  --sys-green-container: var(--ref-green-95);
  --sys-on-green-container: var(--ref-green-5);
  --sys-green-fixed: var(--ref-green-40);
  --sys-on-green-fixed: var(--ref-green-0);
  --sys-red: var(--ref-red-20);
  --sys-on-red: var(--ref-red-100);
  --sys-red-container: var(--ref-red-95);
  --sys-on-red-container: var(--ref-red-5);
  --sys-red-fixed: var(--ref-red-40);
  --sys-on-red-fixed: var(--ref-red-0);
  --sys-outline: var(--ref-neutral-40);
  --sys-background: var(--ref-neutral-100);
  --sys-on-background: var(--ref-neutral-4);
  --sys-surface-dim: var(--ref-neutral-88);
  --sys-surface: var(--ref-neutral-98);
  --sys-surface-bright: var(--ref-neutral-98);
  --sys-on-surface: var(--ref-neutral-0);
  --sys-container-lower: var(--ref-neutral-100);
  --sys-container-low: var(--ref-neutral-94);
  --sys-container: var(--ref-neutral-96);
  --sys-container-high: var(--ref-neutral-92);
  --sys-container-higher: var(--ref-neutral-90);
  --sys-on-container: var(--ref-neutral-0);
  --sys-scrim: contrast(.7);
  --opa-primary-hover: #006494ee;
  --opa-primary-active: #006494ff;
  --opa-on-primary: var(--ref-primary-100);
  --opa-primary-container-hover: #b2ecffff;
  --opa-primary-container-active: #b2ecff77;
  --opa-on-primary-container: var(--ref-primary-5);
  --opa-primary-fixed-hover: #006494ee;
  --opa-primary-fixed-active: #006494ff;
  --opa-on-primary-fixed: var(--ref-primary-100);
  --opa-secondary-hover: #3f697bee;
  --opa-secondary-active: #3f697bff;
  --opa-on-secondary: var(--ref-secondary-100);
  --opa-secondary-container-hover: #c1dae0ff;
  --opa-secondary-container-active: #c1dae0aa;
  --opa-on-secondary-container: var(--ref-secondary-5);
  --opa-secondary-fixed-hover: #385765ff;
  --opa-secondary-fixed-active: #385765ee;
  --opa-on-secondary-fixed: var(--ref-secondary-100);
  --opa-tertiary-hover: #f5c94fff;
  --opa-tertiary-active: #f5c94faa;
  --opa-on-tertiary: var(--ref-tertiary-0);
  --opa-tertiary-container-hover: #f9e18fff;
  --opa-tertiary-container-active: #f9e18f77;
  --opa-on-tertiary-container: var(--ref-tertiary-5);
  --opa-tertiary-fixed-hover: #f5c94fff;
  --opa-tertiary-fixed-active: #f5c94faa;
  --opa-on-tertiary-fixed: var(--ref-tertiary-0);
  --opa-background-hover: #B6B6B6AA;
  --opa-background-active: #B6B6B6EE;
  --opa-on-background: var(--ref-neutral-20);
  --opa-surface-dim-hover: #E5E5E5FF;
  --opa-surface-dim-active: #E5E5E5AA;
  --opa-on-surface-dim: var(--ref-neutral-10);
  --opa-surface-hover: #B6B6B6AA;
  --opa-surface-active: #B6B6B6EE;
  --opa-on-surface: var(--ref-neutral-10);
  --opa-surface-bright-hover: #B6B6B6AA;
  --opa-surface-bright-active: #B6B6B6EE;
  --opa-on-surface-bright: var(--ref-neutral-10);
  --opa-container-hover: #B6B6B6AA;
  --opa-container-active: #B6B6B6EE;
  --opa-on-container: var(--ref-neutral-10);
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}

body.dark-theme {
  --banner-left: url(../../ulib/img/banner-dark-left.png);
  --banner-center: url(../../ulib/img/banner-dark-center.png);
  --banner-right: url(../../ulib/img/banner-dark-right.png);
  --logo-unad: url(../../ulib/img/logo-unad-dark.png);
  --sys-primary: var(--ref-primary-50);
  --sys-on-primary: var(--ref-primary-0);
  --sys-primary-container: var(--ref-primary-10);
  --sys-on-primary-container: var(--ref-primary-100);
  --sys-primary-fixed: var(--ref-primary-10);
  --sys-on-primary-fixed: var(--ref-primary-100);
  --sys-secondary: var(--ref-secondary-60);
  --sys-on-secondary: var(--ref-secondary-0);
  --sys-secondary-container: var(--ref-secondary-10);
  --sys-on-secondary-container: var(--ref-secondary-95);
  --sys-secondary-fixed: var(--ref-secondary-40);
  --sys-on-secondary-fixed: var(--ref-secondary-100);
  --sys-tertiary: var(--ref-tertiary-70);
  --sys-on-tertiary: var(--ref-tertiary-0);
  --sys-tertiary-container: var(--ref-tertiary-60);
  --sys-on-tertiary-container: var(--ref-tertiary-0);
  --sys-tertiary-fixed: var(--ref-tertiary-60);
  --sys-on-tertiary-fixed:var(--ref-tertiary-0);
  --sys-orange: var(--ref-orange-60);
  --sys-on-orange: var(--ref-orange-0);
  --sys-orange-container: var(--ref-orange-20);
  --sys-on-orange-container: var(--ref-orange-100);
  --sys-orange-fixed: var(--ref-orange-50);
  --sys-on-orange-fixed: var(--ref-orange-0);
  --sys-green: var(--ref-green-50);
  --sys-on-green: var(--ref-green-0);
  --sys-green-container: var(--ref-green-40);
  --sys-on-green-container: var(--ref-green-0);
  --sys-green-fixed: var(--ref-green-40);
  --sys-on-green-fixed: var(--ref-green-0);
  --sys-red: var(--ref-red-50);
  --sys-on-red: var(--ref-red-0);
  --sys-red-container: var(--ref-red-20);
  --sys-on-red-container: var(--ref-red-100);
  --sys-red-fixed: var(--ref-red-40);
  --sys-on-red-fixed: var(--ref-red-0);
  --sys-outline: var(--ref-neutral-60);
  --sys-background: var(--ref-neutral-0);
  --sys-on-background: var(--ref-neutral-90);
  --sys-surface-dim: var(--ref-neutral-12);
  --sys-surface: var(--ref-neutral-2);
  --sys-surface-bright: var(--ref-neutral-2);
  --sys-on-surface: var(--ref-neutral-100);
  --sys-container-lower: var(--ref-neutral-0);
  --sys-container-low: var(--ref-neutral-6);
  --sys-container: var(--ref-neutral-4);
  --sys-container-high: var(--ref-neutral-8);
  --sys-container-higher: var(--ref-neutral-10);
  --sys-on-container: var(--ref-neutral-90);
  --sys-scrim: brightness(.5);
  --opa-primary-hover: #20cfffff;
  --opa-primary-active: #20cfffcc;
  --opa-on-primary: var(--ref-primary-0);
  --opa-primary-container-hover: #0095dfff;
  --opa-primary-container-active: #0095dfee;
  --opa-on-primary-container: var(--ref-primary-90);
  --opa-primary-fixed-hover: #006494ee;
  --opa-primary-fixed-active: #006494ff;
  --opa-on-primary-fixed: var(--ref-primary-100);
  --opa-secondary-hover: #97bfc9ff;
  --opa-secondary-active: #97bfc9cc;
  --opa-on-secondary: var(--ref-secondary-0);
  --opa-secondary-container-hover: #497f91ff;
  --opa-secondary-container-active: #497f91ee;
  --opa-on-secondary-container: var(--ref-secondary-100);
  --opa-secondary-fixed-hover: #385765ff;
  --opa-secondary-fixed-active: #385765ee;
  --opa-on-secondary-fixed: var(--ref-secondary-100);
  --opa-tertiary-hover: #df9913ff;
  --opa-tertiary-active: #df9913dd;
  --opa-on-tertiary: var(--ref-tertiary-0);
  --opa-tertiary-container-hover: #9a530eff;
  --opa-tertiary-container-active: #9a530eaa;
  --opa-on-tertiary-container: var(--ref-tertiary-100);
  --opa-tertiary-fixed-hover: #f5c94fff;
  --opa-tertiary-fixed-active: #f5c94faa;
  --opa-on-tertiary-fixed: var(--ref-tertiary-0);
  --opa-background-hover: #323232ff;
  --opa-background-active: #323232aa;
  --opa-on-background: var(--ref-neutral-100);
  --opa-surface-dim-hover: #494949ff;
  --opa-surface-dim-active: #494949ee;
  --opa-on-surface-dim: var(--ref-neutral-100);
  --opa-surface-hover: #494949ff;
  --opa-surface-active: #494949ee;
  --opa-on-surface: var(--ref-neutral-100);
  --opa-surface-bright-hover: #323232ff;
  --opa-surface-bright-active: #323232ee;
  --opa-on-surface-bright: var(--ref-neutral-100);
  --opa-container-hover: #494949ff;
  --opa-container-active: #494949ee;
  --opa-on-container: var(--ref-neutral-100);
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.30), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}

body.contrast-theme {
  --banner-left: url(../../ulib/img/banner-contrast-left.png);
  --banner-center: url(../../ulib/img/banner-contrast-center.png);
  --banner-right: url(../../ulib/img/banner-contrast-right.png);
  --logo-unad: url(../../ulib/img/logo-unad-constrast.png);
  --ref-primary-0: #000000;
  --ref-primary-5: #0000FF;
  --ref-primary-10: #0000FF;
  --ref-primary-20: #0000FF;
  --ref-primary-30: #0000FF;
  --ref-primary-40: #0000FF;
  --ref-primary-50: #0000FF;
  --ref-primary-60: #0000FF;
  --ref-primary-70: #0000FF;
  --ref-primary-80: #0000FF;
  --ref-primary-90: #0000FF;
  --ref-primary-95: #0000FF;
  --ref-primary-100: #FFFFFF;
  --ref-secondary-0: #000000;
  --ref-secondary-5: #0000FF;
  --ref-secondary-10: #0000FF;
  --ref-secondary-20: #0000FF;
  --ref-secondary-30: #0000FF;
  --ref-secondary-40: #0000FF;
  --ref-secondary-50: #0000FF;
  --ref-secondary-60: #0000FF;
  --ref-secondary-70: #0000FF;
  --ref-secondary-80: #0000FF;
  --ref-secondary-90: #0000FF;
  --ref-secondary-95: #0000FF;
  --ref-secondary-100: #FFFFFF;
  --ref-tertiary-0: #000000;
  --ref-tertiary-5: #FFFF00;
  --ref-tertiary-10: #FFFF00;
  --ref-tertiary-20: #FFFF00;
  --ref-tertiary-30: #FFFF00;
  --ref-tertiary-40: #FFFF00;
  --ref-tertiary-50: #FFFF00;
  --ref-tertiary-60: #FFFF00;
  --ref-tertiary-70: #FFFF00;
  --ref-tertiary-80: #FFFF00;
  --ref-tertiary-90: #FFFF00;
  --ref-tertiary-95: #FFFF00;
  --ref-tertiary-100: #FFFFFF;
  --ref-green-0: #000000;
  --ref-green-5: #00FF00;
  --ref-green-10: #00FF00;
  --ref-green-20: #00FF00;
  --ref-green-30: #00FF00;
  --ref-green-40: #00FF00;
  --ref-green-50: #00FF00;
  --ref-green-60: #00FF00;
  --ref-green-70: #00FF00;
  --ref-green-80: #00FF00;
  --ref-green-90: #00FF00;
  --ref-green-95: #00FF00;
  --ref-green-100: #FFFFFF;
  --ref-red-0: #000000;
  --ref-red-5: #FF0000;
  --ref-red-10: #FF0000;
  --ref-red-20: #FF0000;
  --ref-red-30: #FF0000;
  --ref-red-40: #FF0000;
  --ref-red-50: #FF0000;
  --ref-red-60: #FF0000;
  --ref-red-70: #FF0000;
  --ref-red-80: #FF0000;
  --ref-red-90: #FF0000;
  --ref-red-95: #FF0000;
  --ref-red-100: #FFFFFF;
  --ref-neutral-0: #000000;
  --ref-neutral-2: #000000;
  --ref-neutral-4: #000000;
  --ref-neutral-6: #000000;
  --ref-neutral-8: #000000;
  --ref-neutral-10: #000000;
  --ref-neutral-12: #000000;
  --ref-neutral-20: #000000;
  --ref-neutral-30: #000000;
  --ref-neutral-40: #000000;
  --ref-neutral-50: #000000;
  --ref-neutral-60: #FFFFFF;
  --ref-neutral-70: #FFFFFF;
  --ref-neutral-80: #FFFFFF;
  --ref-neutral-88: #FFFFFF;
  --ref-neutral-90: #FFFFFF;
  --ref-neutral-92: #FFFFFF;
  --ref-neutral-94: #FFFFFF;
  --ref-neutral-96: #FFFFFF;
  --ref-neutral-98: #FFFFFF;
  --ref-neutral-100: #FFFFFF;
  --sys-primary: #0000FF;
  --sys-on-primary: #FFFFFF;
  --sys-primary-container: #000000;
  --sys-on-primary-container: #0000FF;
  --sys-primary-fixed: #0000FF;
  --sys-on-primary-fixed: #FFFFFF;
  --sys-secondary: #0000FF;
  --sys-on-secondary: #FFFFFF;
  --sys-secondary-container: #000000;
  --sys-on-secondary-container: #0000FF;
  --sys-secondary-fixed: #0000FF;
  --sys-on-secondary-fixed: #FFFFFF;
  --sys-tertiary: #FFFF00;
  --sys-on-tertiary: #000000;
  --sys-tertiary-container: #000000;
  --sys-on-tertiary-container: #FFFF00;
  --sys-tertiary-fixed: #FFFF00;
  --sys-on-tertiary-fixed: #000000;
  --sys-orange: #FFFF00;
  --sys-on-orange: #000000;
  --sys-orange-container: #000000;
  --sys-on-orange-container: #FFFF00;
  --sys-orange-fixed: #FFFF00;
  --sys-on-orange-fixed: #000000;
  --sys-green: #00FF00;
  --sys-on-green: #000000;
  --sys-green-container: #000000;
  --sys-on-green-container: #00FF00;
  --sys-green-fixed: #00FF00;
  --sys-on-green-fixed: #000000;
  --sys-red: #FF0000;
  --sys-on-red: #000000;
  --sys-red-container: #000000;
  --sys-on-red-container: #FF0000;
  --sys-red-fixed: #FF0000;
  --sys-on-red-fixed: #000000;
  --sys-outline: #FFFFFF;
  --sys-background: #000000;
  --sys-on-background: #FFFFFF;
  --sys-surface-dim: #000000;
  --sys-surface: #000000;
  --sys-surface-bright: #FFFFFF;
  --sys-on-surface: #FFFFFF;
  --sys-container-lower: #000000;
  --sys-container-low: #000000;
  --sys-container: #000000;
  --sys-container-high: #000000;
  --sys-container-higher: #000000;
  --sys-on-container: #FFFFFF;
  --sys-scrim: contrast(1);
  --opa-primary-hover: #ffffff;
  --opa-primary-active: #ffffff;
  --opa-on-primary: #000000;
  --opa-primary-container-hover: #ffffff;
  --opa-primary-container-active: #ffffff;
  --opa-on-primary-container: #000000;
  --opa-primary-fixed-hover: #ffffff;
  --opa-primary-fixed-active: #ffffff;
  --opa-on-primary-fixed: #000000;
  --opa-secondary-hover: #ffffff;
  --opa-secondary-active: #ffffff;
  --opa-on-secondary: #000000;
  --opa-secondary-container-hover: #ffffff;
  --opa-secondary-container-active: #ffffff;
  --opa-on-secondary-container: #000000;
  --opa-secondary-fixed-hover: #ffffff;
  --opa-secondary-fixed-active: #ffffff;
  --opa-on-secondary-fixed: #000000;
  --opa-tertiary-hover: #ffffff;
  --opa-tertiary-active: #ffffff;
  --opa-on-tertiary: #000000;
  --opa-tertiary-container-hover: #ffffff;
  --opa-tertiary-container-active: #ffffff;
  --opa-on-tertiary-container: #000000;
  --opa-tertiary-fixed-hover: #ffffff;
  --opa-tertiary-fixed-active: #ffffff;
  --opa-on-tertiary-fixed: #000000;
  --opa-background-hover: #ffffff;
  --opa-background-active: #ffffff;
  --opa-on-background: #000000;
  --opa-surface-dim-hover: #ffffff;
  --opa-surface-dim-active: #ffffff;
  --opa-on-surface-dim: #000000;
  --opa-surface-hover: #ffffff;
  --opa-surface-active: #ffffff;
  --opa-on-surface: #000000;
  --opa-surface-bright-hover: #000000;
  --opa-surface-bright-active: #000000;
  --opa-on-surface-bright: #ffffff;
  --opa-container-hover: #ffffff;
  --opa-container-active: #ffffff;
  --opa-on-container: #000000;
  --elevation-1: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --elevation-2: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --elevation-3: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --elevation-4: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --elevation-5: 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  color: unset;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}
html body {
  font-family: "Roboto", sans-serif;
  font-size: calc(var(--font-size) * 1em);
  background-color: var(--sys-background);
  color: var(--sys-on-background);
  overflow-x: hidden;
  line-height: unset;
}
html body p {
  margin-bottom: unset;
}

header, nav, main, aside, footer {
  font-size: 2rem;
}
header ::-webkit-scrollbar-thumb, nav ::-webkit-scrollbar-thumb, main ::-webkit-scrollbar-thumb, aside ::-webkit-scrollbar-thumb, footer ::-webkit-scrollbar-thumb {
  background-color: var(--sys-secondary-fixed);
  border-radius: 0.5rem;
}
header ::-webkit-scrollbar-track, nav ::-webkit-scrollbar-track, main ::-webkit-scrollbar-track, aside ::-webkit-scrollbar-track, footer ::-webkit-scrollbar-track {
  background-color: var(--ref-neutral-80);
  border-radius: 0.5rem;
}

header {
  position: sticky;
  top: 0;
  box-shadow: var(--elevation-1);
  z-index: 200;
}
header #banner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  background-color: var(--sys-container);
}
header #banner .banner__left {
  //background-image: var(--banner-left);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
header #banner .banner__center {
  background-image: var(--banner-center);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
header #banner .banner__right {
  //background-image: var(--banner-right);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

#breadcrumb {
  display: grid;
  grid-template-columns: 100% 100%;
  background-color: var(--sys-primary-fixed);
  color: var(--sys-on-primary-fixed);
  height: 6rem;
  overflow: hidden;
}
#breadcrumb .breadcrumb--mobile {
  position: relative;
  left: -100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1 all ease-in-out;
}
#breadcrumb .breadcrumb--mobile .system__icon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  height: 6rem;
  color: var(--sys-on-primary-fixed);
  cursor: pointer;
}
#breadcrumb .breadcrumb--mobile .system__icon img {
  width: 5rem;
  height: 5rem;
}
#breadcrumb .breadcrumb--mobile .system__icon p {
  font-weight: bold;
}
#breadcrumb .breadcrumb--mobile .back-route--mobile {
  transition: 1 all ease-in-out;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
#breadcrumb .breadcrumb--mobile .back-route--mobile svg {
  width: 5rem;
  height: 5rem;
  fill: var(--sys-on-primary-fixed);
}
#breadcrumb .breadcrumb--desktop {
  position: relative;
  left: -100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: var(--sys-primary-fixed);
  padding: 0 1rem 0 1.5rem;
  overflow: hidden;
  align-items: center;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route {
  display: flex;
  overflow: hidden;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route .route--mobile {
  display: none;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route .route--mobile svg {
  width: 5rem;
  height: 5rem;
  fill: var(--sys-on-primary-fixed);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route .route--desktop {
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-flow: row wrap;
  overflow: hidden;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route .route--desktop a {
  color: var(--sys-on-primary-fixed);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__route .route--desktop a:hover {
  text-decoration: underline;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons {
  scrollbar-color: var(--sys-primary-fixed) var(--ref-neutral-80);
  scrollbar-width: thin;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  height: 5.5rem;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons input {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--sys-tertiary-fixed);
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 0 !important;
  transition: 0.2s all ease-in-out;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons input:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: var(--elevation-3);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons input:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  background-color: var(--opa-tertiary-fixed-hover);
  color: var(--opa-on-tertiary-fixed);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons input:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  background-color: var(--opa-tertiary-fixed-active);
  color: var(--opa-on-tertiary-fixed);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--sys-tertiary-fixed);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 0.2s all ease-in-out;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button i {
  width: 3rem;
  height: 3rem;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button i svg {
  width: 100%;
  height: 100%;
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: var(--elevation-3);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  background-color: var(--opa-tertiary-fixed-hover);
  color: var(--opa-on-tertiary-fixed);
}
#breadcrumb .breadcrumb--desktop .breadcrumb__buttons button:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  background-color: var(--opa-tertiary-fixed-active);
  color: var(--opa-on-tertiary-fixed);
}
#breadcrumb .breadcrumb--desktop ::-webkit-scrollbar {
  height: 0.5rem;
  background-color: var(--ref-neutral-80);
  border-radius: 0.5rem;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 6rem;
  box-shadow: var(--elevation-2);
  background-color: var(--sys-container-higher);
  transition: 0.2s all ease-out;
  z-index: 100;
}
nav ul {
  margin: 0;
}
nav a:hover {
  text-decoration: none;
}
nav:hover {
  width: 23rem;
  transition: 0.2s all ease-in;
  border-radius: 0 1rem 1rem 0;
}
nav:hover #navbar {
  border-radius: 0 1rem 1rem 0;
}
nav:hover #navbar #menu-options .system__icon > div p {
  opacity: 1;
}
nav:hover #navbar #menu-options .navbar__options, nav:hover #navbar #menu-help .navbar__options {
  direction: rtl;
}
nav:hover #navbar #menu-options .navbar__options .options__item .option, nav:hover #navbar #menu-help .navbar__options .options__item .option {
  opacity: 1;
}
nav:hover ~ main {
  transition: 0.2s ease-in;
  z-index: 0;
}
nav ::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--ref-neutral-80);
  border-radius: 0.5rem;
}

#navbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: var(--sys-container-higher);
  width: 100%;
  overflow: hidden;
}
#navbar a {
  display: flex;
  width: 100%;
  cursor: pointer;
}
#navbar #menu-options {
  background-color: var(--sys-container-higher);
  height: calc(100% - 15rem);
}
#navbar #menu-options a {
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: var(--sys-container-higher);
  color: var(--sys-on-container);
}
#navbar #menu-options a i svg {
  fill: var(--sys-on-container);
  width: 3rem;
  height: 3rem;
  transition: 0.2s all ease-in-out;
}
#navbar #menu-options a:hover {
  background-color: var(--opa-container-hover);
  color: var(--opa-on-container);
}
#navbar #menu-options a:hover svg {
  fill: var(--opa-on-container);
}
#navbar #menu-options a:active {
  background-color: var(--opa-container-active);
  color: var(--opa-on-container);
}
#navbar #menu-options a:active svg {
  fill: var(--opa-on-container);
}
#navbar #menu-options .system__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  height: 6rem;
  color: var(--sys-on-container);
  cursor: pointer;
}
#navbar #menu-options .system__icon > div {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  flex-grow: 1;
}
#navbar #menu-options .system__icon > div img {
  width: 5rem;
  height: 5rem;
}
#navbar #menu-options .system__icon > div p {
  opacity: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  flex-grow: 1;
}
#navbar #menu-options .system__icon i {
  margin-right: 1.5rem;
  transform: rotate(90deg);
  transition: 0.2s all ease-in-out;
}
#navbar #menu-options .system__icon i svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--sys-on-container);
}
#navbar #menu-options .navbar__options {
  scrollbar-color: var(--sys-primary-fixed) var(--ref-neutral-80);
  scrollbar-width: thin;
  height: calc(100% - 6rem);
  overflow-y: auto;
  display: grid;
  align-content: flex-start;
}
#navbar #menu-options .navbar__options .options__item {
  display: flex;
  align-items: center;
  direction: ltr;
  text-align: left;
}
#navbar #menu-options .navbar__options .options__item .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}
#navbar #menu-options .navbar__options .options__item .option-drop {
  background-color: var(--sys-container-higher);
  position: absolute;
  opacity: 0;
  top: 6rem;
  left: 0;
  width: 6rem;
  height: calc(100% - 21rem);
  border-radius: 0 1rem 1rem 0;
  transition: 0.2s all ease-out;
  z-index: -1;
  box-shadow: var(--elevation-2);
  overflow: hidden;
}
#navbar #menu-options .navbar__options .options__item .option-drop ul {
  scrollbar-color: var(--sys-primary-fixed) var(--ref-neutral-80);
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0;
  height: 100%;
}
#navbar #menu-options .navbar__options .options__item:hover .option-drop {
  transform: translateX(22.75rem);
  opacity: 1;
  width: 20rem;
  transition: 0.4s all ease-in;
}
#navbar #menu-help {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: var(--sys-tertiary-fixed);
  height: 15rem;
}
#navbar #menu-help a {
  display: flex;
  gap: 1rem;
  background-color: var(--sys-tertiary-fixed);
  color: var(--sys-on-tertiary-fixed);
}
#navbar #menu-help a i {
  width: 3rem;
  height: 3rem;
}
#navbar #menu-help a i svg {
  width: 100%;
  height: 100%;
  fill: var(--sys-on-tertiary-fixed);
  transition: 0.2s all ease-in-out;
}
#navbar #menu-help a:hover {
  background-color: var(--opa-tertiary-fixed-hover);
  color: var(--opa-on-tertiary-fixed);
}
#navbar #menu-help a:active {
  background-color: var(--opa-tertiary-fixed-active);
  color: var(--opa-on-tertiary-fixed);
}
#navbar #menu-help .navbar__options .options__item {
  direction: ltr;
  text-align: left;
}
#navbar #menu-help .navbar__options .options__item .option {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-content: space-between;
  transition: 0.2s all ease-in-out;
  padding: 1rem 1rem 1rem 1.5rem;
}
#navbar #menu-help .navbar__options .options__item .option p {
  flex-grow: 1;
}
#navbar #menu-help .navbar__options .options__item .option-drop {
  position: absolute;
  opacity: 0;
  bottom: 10rem;
  left: -20rem;
  width: 20rem;
  border-radius: 0 1rem 1rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.2s all ease-out;
  z-index: -1;
  box-shadow: var(--elevation-2);
  background-color: var(--sys-tertiary-fixed);
}
#navbar #menu-help .navbar__options .options__item .option-drop a {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  min-height: 5rem;
}
#navbar #menu-help .navbar__options .options__item .option-drop.ayuda {
  bottom: 5rem;
}
#navbar #menu-help .navbar__options .options__item:hover > .option-drop {
  transform: translateX(42.75rem);
  opacity: 1;
  transition: 0.4s all;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--sys-background);
  color: var(--sys-on-background);
  margin-left: 6rem;
  padding: 2rem 1rem 2rem 2rem;
  min-height: 55vh;
  transition: 0.2s all ease-out;
  line-height: 1.5;
}

aside {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 2rem;
  border: 2px solid var(--sys-tertiary);
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
  min-height: 73vh;
  overflow: hidden;
}
aside .header-aside {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem 1rem;
}
aside .header-aside b {
  font-size: 2.5rem;
  display: block;
}
aside .header-aside svg {
  width: 4rem;
  height: 4rem;
  fill: var(--sys-on-tertiary-container);
}
aside .body-aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: calc(73vh - 6rem);
  overflow-x: hidden;
  overflow-y: auto;
}
aside .body-aside .btn-3d--primary {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: normal;
  height: auto;
}
aside .body-aside .btn-3d--primary:hover {
  border-color: var(--sys-primary);
}
aside .body-aside .btn-3d--primary p {
  display: block;
}
aside .body-aside .btn-3d--primary p b {
  text-decoration: underline;
  color: var(--sys-primary);
}
aside .body-aside .module-contact {
  background-color: var(--sys-background);
  border: 0.25rem solid var(--sys-tertiary);
  color: var(--sys-on-background);
  border-left-width: 0.75rem;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  box-shadow: var(--elevation-1);
  z-index: 1;
  overflow: hidden;
  word-break: break-all;
  transition: 0.2s all ease-in-out;
}
aside .body-aside .module-contact:hover {
  box-shadow: var(--elevation-3);
  transform: translate(-0.25rem, -0.25rem);
  text-decoration: underline;
}
aside .body-aside .module-processes {
  margin-top: 2rem;
  overflow: hidden;
}
aside .body-aside .module-processes a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--sys-primary);
}
aside .body-aside .module-processes > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--sys-background);
  color: var(--sys-on-background);
  border: 0.25rem solid var(--sys-tertiary);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  box-shadow: var(--elevation-1);
}
aside .body-aside .module-processes > div details summary {
  font-size: 2rem;
  font-weight: bold;
}
aside .body-aside .module-processes > div details summary svg {
  width: 3rem;
  height: 3rem;
  fill: var(--sys-on-background);
}
aside .body-aside .module-processes > div details div {
  padding-top: 1rem;
  border-top-color: var(--sys-tertiary);
}

footer {
  background-color: var(--sys-surface-dim);
  color: var(--sys-on-surface);
  margin-left: 6rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 2rem;
  padding: 2rem;
  transition: 0.2s all ease-in-out;
}
footer span {
  background: var(--logo-unad);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30rem;
  height: 10rem;
}
footer div {
  display: grid;
  gap: 1rem;
}
footer div a {
  text-decoration: underline;
  color: var(--sys-primary);
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .banner {
    height: 6.5rem;
  }
  .banner.banner--scroll {
    height: 6.5rem;
  }
  .banner__left, .banner__right {
    background-image: none !important;
  }
  .banner__center {
    width: 25rem;
    max-width: 200px;
  }
  #breadcrumb .breadcrumb--desktop {
    grid-template-columns: 1fr 2fr;
    padding: 0 1rem 0 0;
  }
  #breadcrumb .breadcrumb--desktop .breadcrumb__route .route--mobile {
    display: flex !important;
    align-self: center !important;
  }
  #breadcrumb .breadcrumb--desktop .breadcrumb__route .route--desktop {
    display: none !important;
  }
  nav {
    left: -23rem;
    top: calc(12.5rem + 2vh);
    bottom: unset;
    width: 23rem;
    border-radius: 0 1rem 1rem 0;
  }
  nav #navbar {
    border-radius: 0 1rem 1rem 0;
  }
  nav #menu-options a svg {
    transform: rotate(90deg);
  }
  nav #menu-options .system__icon {
    display: none !important;
  }
  nav #menu-options .navbar__options {
    height: 100% !important;
  }
  nav #menu-options .navbar__options .options__item {
    display: block !important;
  }
  nav #menu-options .navbar__options .options__item .option {
    opacity: 1 !important;
    position: relative;
    z-index: 0;
  }
  nav #menu-options .navbar__options .options__item .option-drop {
    position: absolute !important;
    height: unset !important;
    opacity: 1 !important;
    width: unset !important;
    height: 5rem !important;
    margin-top: -5rem;
    margin: 0 1rem;
    border-radius: 0 !important;
    border-top: 1px solid var(--sys-outline);
    box-shadow: unset !important;
  }
  nav #menu-options .navbar__options .options__item .option-drop ul {
    overflow-y: hidden !important;
  }
  nav #menu-options .navbar__options .options__item.open--mobile a svg {
    transform: rotate(270deg);
  }
  nav #menu-options .navbar__options .options__item.open--mobile .option-drop {
    position: unset !important;
    transform: unset !important;
    opacity: 1;
    height: unset !important;
    margin-top: 0;
  }
  nav #menu-options .navbar__options .options__item:hover .option-drop {
    transform: unset !important;
    width: unset !important;
  }
  nav #menu-help a i:last-child {
    transform: rotate(90deg);
  }
  nav #menu-help .navbar__options {
    overflow-y: auto;
    height: 100% !important;
  }
  nav #menu-help .navbar__options .options__item {
    display: block !important;
  }
  nav #menu-help .navbar__options .options__item .option {
    opacity: 1 !important;
    position: relative;
    z-index: 0;
  }
  nav #menu-help .navbar__options .options__item .option-drop {
    position: absolute !important;
    height: unset !important;
    opacity: 1 !important;
    width: unset !important;
    height: 5rem !important;
    margin-top: -5rem;
    margin: 0 1rem;
    border-radius: 0 !important;
    border-top: 1px solid var(--sys-on-tertiary);
    box-shadow: unset !important;
    left: 0 !important;
  }
  nav #menu-help .navbar__options .options__item .option-drop ul {
    overflow-y: hidden !important;
  }
  nav #menu-help .navbar__options .options__item.open--mobile a svg:last-child {
    transform: rotate(180deg);
  }
  nav #menu-help .navbar__options .options__item.open--mobile .option-drop {
    position: unset !important;
    transform: unset !important;
    opacity: 1;
    height: unset !important;
    margin-top: 0;
  }
  nav #menu-help .navbar__options .options__item.open--mobile .option-drop a svg {
    transform: rotate(270deg);
  }
  nav #menu-help .navbar__options .options__item:hover .option-drop {
    transform: unset !important;
    width: unset !important;
  }
  nav.nav #navbar {
    height: calc(96vh - 12.5rem);
  }
  nav.nav--scroll #navbar {
    height: calc(96vh - 12.5rem);
  }
  nav:hover #navbar #menu-options .navbar__options, nav:hover #navbar #menu-help .navbar__options {
    direction: ltr !important;
  }
  nav:hover ~ main {
    filter: unset;
  }
  main {
    margin-left: 0;
    padding: 2rem 1rem;
    flex-wrap: wrap;
  }
  main #div_sector1.section-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--sys-background);
    color: var(--sys-on-background);
    min-height: 55vh;
    transition: 0.2s all ease-out;
    line-height: 1.5;
  }
  main #div_sector1.section-aside aside {
    order: 1;
    width: 100%;
    min-height: auto;
  }
  main #div_sector1.section-aside aside .body-aside {
    min-height: auto;
  }
  main #div_sector1.section-aside > section {
    order: 2;
    height: 100%;
  }
  footer {
    margin-left: 0;
    justify-content: center;
  }
  footer div {
    text-align: center;
  }
}
/* Tablet e Impresion */
@media only screen and (min-width: 768px) and (max-width: 1024px), print {
  .banner {
    height: 6.5rem;
  }
  .banner.banner--scroll {
    height: 6.5rem;
  }
  .banner__center {
    width: 25rem;
    max-width: 200px;
  }
  nav.anchor {
    width: 23rem;
    transition: 0.2s all ease-in;
    border-radius: 0 1rem 1rem 0;
  }
  nav.anchor #navbar {
    border-radius: 0 1rem 1rem 0;
  }
  nav.anchor #navbar #menu-options .navbar__options, nav.anchor #navbar #menu-help .navbar__options {
    direction: rtl;
  }
  nav.anchor #navbar #menu-options .navbar__options .options__item .option, nav.anchor #navbar #menu-help .navbar__options .options__item .option {
    opacity: 1;
  }
  nav.anchor #anchor-menu {
    transform: none !important;
  }
  nav.anchor ~ main, nav.anchor ~ footer {
    width: auto;
    margin-left: 23rem;
    transition: 0.2s ease-in;
    z-index: 0;
  }
  .nav #navbar {
    height: calc(100vh - 12.5rem);
  }
  .nav--scroll #navbar {
    height: calc(100vh - 12.5rem);
    transition: 0.2s all ease-in;
  }
  .options__item:hover svg {
    transform: rotate(180deg);
  }
  .options__item:hover .option-drop svg {
    transform: unset;
  }
  main #div_sector1.section-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--sys-background);
    color: var(--sys-on-background);
    min-height: 55vh;
    transition: 0.2s all ease-out;
    line-height: 1.5;
  }
  main #div_sector1.section-aside aside {
    order: 2;
    width: 100rem;
  }
  main #div_sector1.section-aside > section {
    order: 1;
    height: 100%;
  }
  footer {
    justify-content: center;
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) {
  .banner {
    height: 12.5rem;
    max-height: 100px;
    transition: 0.1s all ease-out;
  }
  .banner.banner--scroll {
    height: 6.5rem;
    transition: 0.2s all ease-in;
  }
  .banner__center {
    width: 50rem;
    max-width: 400px;
  }
  nav.anchor {
    width: 23rem;
    transition: 0.2s all ease-in;
    border-radius: 0 1rem 1rem 0;
  }
  nav.anchor #navbar {
    border-radius: 0 1rem 1rem 0;
  }
  nav.anchor #navbar #menu-options .system__icon > div p {
    opacity: 1;
  }
  nav.anchor #navbar #menu-options .navbar__options, nav.anchor #navbar #menu-help .navbar__options {
    direction: rtl;
  }
  nav.anchor #navbar #menu-options .navbar__options .options__item .option, nav.anchor #navbar #menu-help .navbar__options .options__item .option {
    opacity: 1;
  }
  nav.anchor #anchor-menu {
    transform: none !important;
  }
  nav.anchor ~ main, nav.anchor ~ footer {
    width: auto;
    margin-left: 23rem;
    transition: 0.2s ease-in;
    z-index: 0;
  }
  .nav #navbar {
    height: calc(100vh - 18.5rem);
    min-height: calc(100vh - (100px + 6rem));
    transition: 0.1s all ease-out;
  }
  .nav--scroll #navbar {
    height: calc(100vh - 12.5rem);
    transition: 0.2s all ease-in;
  }
  .options__item:hover svg {
    transform: rotate(180deg);
  }
  .options__item:hover .option-drop svg {
    transform: unset;
  }
  main #div_sector1.section-aside {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--sys-background);
    color: var(--sys-on-background);
    min-height: 55vh;
    transition: 0.2s all ease-out;
    line-height: 1.5;
  }
  main #div_sector1.section-aside aside {
    order: 2;
    width: 45rem;
  }
  main #div_sector1.section-aside > section {
    order: 1;
    flex-grow: 1;
  }
}
/*Retoques Imprimir*/
@media print {
  @page {
    margin: 0;
  }
  * {
    box-shadow: none !important;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
  body header, body footer, body nav {
    display: none;
  }
  body main {
    margin-left: 0 !important;
    padding: 4rem;
  }
}
